.headerContainer{
    display: flex;
    justify-content: space-between;
}

.logoHeader{
    margin-left: 150px;
}
.navbarList {
    margin-right: 150px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

li{
    margin: 20px;
    font-size: 16;
    display: flex;
    align-items: center;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: 800;
    font-style: normal;
}

li > img{
    margin-right: 8px;
}

.foodCard{
    width: 280px;
    height: 450px;
    margin: 5px;
    background-color: #f0f0f0;
    border-radius: 16px;
}

.foodCard:hover{
    border: 1px solid grey;
    cursor: pointer;
}

.bodyContainer{
    margin-left: 150px;
    margin-right: 100px;
}

.foodCard > img{
    width: 100%;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    height: 50%;
}

.cardsContainer{
    display: flex;
    flex-wrap: wrap;
}

.filter{
    margin: 10px;
}

.shimmerContainer{
    display: flex;
    flex-wrap: wrap;
    margin-left: 150px;
    margin-right: 100px;
    margin-top: 100px;
}

.fakeCard{
    border-radius: 16px;
    width: 280px;
    height: 400px;
    margin: 5px;
    background-color: #f0f0f0
}